# Build
bin
build
dist
dist-ssr
lib
lib-types
server

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Cargo
# For some unknown reason, cargo will include them in the package when publishing to crates.io if they are not ignored.
.trunk/*actions
.trunk/*actions/**
.trunk/*logs
.trunk/*logs/**
.trunk/*notifications
.trunk/*notifications/**
.trunk/*out
.trunk/*out/**
.trunk/*tools
.trunk/*tools/**
.trunk/plugins
.trunk/plugins/**
.trunk/user_trunk.yaml
.trunk/user.yaml
node_modules/**

# Development
*.local
.env
node_modules
target
tmp

# Editors
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# Logs
*.log
logs
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn
.yarn/*
!.yarn/releases